<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @blog.link %>
</p>

<p>
  <b>Linktext:</b>
  <%= @blog.linktext %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
